<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
 
	<div>
	
<ul>
    <li>
	<a href="/index">Home</a>
	<span>News types<span>
	<ul>
	<li><a href="/latest">Latest News</a></li>
	<li><a href="/home">Top News</a></li>
	<li><a href="/world">World News</a></li>
	<li><a href="/uk">UK News</a></li>
	<li><a href="/africa">Africa News</a></li>
	</ul>
    </li>
<li>
	<a href="/ent">Entertainment</a>
    </li>
    <li>
	<a href="/sci">Science</a>
    </li>
    <li>
	<a href="/nature">Nature</a>
    </li> 
    <li>
	<a href="/tech">Technology</a>
   </li>
   <li>
	<a href="/">Sports</a>
	<ul>
	<li><a href="/allsports">All Sports</a></li>
	<li><a href="/football">Football</a></li>
	<li><a href="/tennis">Tennis</a></li>
	</ul>
   </li>
</ul>
	</div> <!-- end #nav -->
</div> 
  </body>
</html>
