<!doctype html>
{% extends "template1.html" %}
{% block content %}

<div>
<h2> Grade Conversion Chart for readbility<h2>
Readability score between 1.5 and 2.5 - Grade 1</br>
Readability score between 2.6 and 3.5 - Grade 2</br>
Readability score between 3.6 and 4.5 - Grade 3</br>
Readability score between 4.6 and 5.5 - Grade 4</br>
Readability score between 5.6 and 6.5 - Grade 5</br>
Readability score between 6.6 and 7.5 - Grade 6</br>
Readability score between 7.6 and 8.5 - Grade 7</br>
Readability score between 8.6 and 9.5 - Grade 8</br>
Readability score between 8.6 and 9.5 - Grade 9</br>
Readability score between 9.6 and 10.5 - Grade 10 and above</br>
                   
</div>
{% endblock %}


