<!doctype html>
<html>
	<head>
		<title> Sample Page </title>
		
		<meta charset="utf-8">

		<title> PPSC </title>
		
	  	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
 		<link rel="stylesheet" type="text/css" href="static/css/style.css">
		<script src= "js/custom.js"> </script>
	</head>
		
<body>
<header>
<h1> PPSC </h1>
</header>
<style>
body {background: url("static/background3.jpg")no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;} 
</style>


	<div id="nav">
	
<ul>
    <li>
	<a href="/">Home</a>
</li>
<li>
	<a href="/">News types</a>
	<ul>
	<li><a href="/latest">Latest </a></li>
	<li><a href="/world">World </a></li>
	<li><a href="/uk">UK </a></li>
	<li><a href="/africa">Africa </a></li>
	</ul>
    </li>
    <li>
	<a href="/ent">Entertainment</a>
    </li>
    <li>
	<a href="/sci">Science</a>
    </li>
    <li>
	<a href="/nature">Nature</a>
    </li> 
    <li>
	<a href="/tech">Technology</a>
   </li>
   <li>
	<a href="/">Sports</a>
	<ul>
	<li><a href="/allsports">All Sports</a></li>
	<li><a href="/football">Football</a></li>
	<li><a href="/tennis">Tennis</a></li>
	</ul>
   </li>
<li>
	<a href="/info">More Information</a>
   </li>
</ul>
	</div> <!-- end #nav -->



<div id="hsidebar">
<h3>Recommended</h3>
</div>

<div id="hcontent">
		{% block content %}
		{% endblock %}
</div>


<footer>
  <p>Created By: </p>
</footer>
</body>
</html>

